{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block house %} 
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/home">Back</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>
    {% endblock %}
    {% block main %}
        <form action="/control" method="post">
            
            <div class="row align-items-start">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 1</h3>
                            <marquee>{{queu1}} </marquee>
                            <h3>{{spot1}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="one" value="1">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 2</h3>
                            <marquee>{{queu2}} </marquee>
                            <h3>{{spot2}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="two" value="2">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 3</h3>
                            <marquee>{{queu3}} </marquee>
                            <h3>{{spot3}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="three" value="3">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 4</h3>
                            <marquee>{{queu4}} </marquee>
                            <h3>{{spot4}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="four" value="4">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 5</h3>
                            <marquee>{{queu5}} </marquee>
                            <h3>{{spot5}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="five" value="5">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <p>  </p>
            <p>  </p>
            <div class="row align-items-start">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 6</h3>
                            <marquee>{{queu6}} </marquee>
                            <h3>{{spot6}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="six" value="6">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 7</h3>
                            <marquee>{{queu7}} </marquee>
                            <h3>{{spot7}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="seven" value="7">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 8</h3>
                            <marquee>{{queu8}} </marquee>
                            <h3>{{spot8}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="eight" value="8">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 9</h3>
                            <marquee>{{queu9}} </marquee>
                            <h3>{{spot9}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="nine" value="9">+</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Spot 10</h3>
                            <marquee>{{queu10}} </marquee>
                            <h3>{{spot10}} </h3>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="ten" value="10">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}