{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block house %}
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/profile">Back</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block main %}
        <form action="/edit" method="post">
            <div class="row align-items-start">
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <p>  </p>
                    <p>  </p>
                    <p>  </p>
                    <img src="static/turno.png">
                    <p>  </p>
                    <h1>We Make Your Business Easier!</h1>
                    <p>Order your customer with the best sofware on the market.</p>
                    <p>Perfect for Banks and Hospital!</p>
                    <p>Easy order, on time business!</p>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <p> </p>
                            
                            {% for row in rows %}
                                <p>{{row.email}} </p>
                                <input autocomplete="off" autofocus class="form-control m-auto" name="newemail" placeholder="Email" type="text">
                                <p>  </p>
                                <button class="btn btn-primary" type="submit">Edit</button>
                            {% endfor %}
                            <p>  </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}