{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block main %}
        <form action="/" method="post">
            <div class="row align-items-start">
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
                <p>  </p>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <p>  </p>
                    <p>  </p>
                    <p>  </p>
                    <img src="static/turno.png">
                    <p>  </p>
                    <h1>We Make Your Business Easier!</h1>
                    <p>Order your customer with the best sofware on the market.</p>
                    <p>Perfect for Banks, Hospital and Restaurants!</p>
                    <p>Easy order, on time business!</p>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <input autocomplete="off" autofocus class="form-control m-auto" name="email" placeholder="Email" type="text">
                            <p> </p>
                            <p> </p>
                            <input class="form-control m-auto" name="password" placeholder="Password" type="password">
                            <p> </p>
                            <p> </p>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Log In</button>
                            </div>
                            <p> </p>
                            <a href="/forgot">Forgot Password?</a>
                            <p>  </p>
                            <p>  </p>
                            <hr class="divider">
                        <p>  </p>
                        <p>  </p>
                        <a href="/register" class="btn btn-success"  type="submit" >Create New Account</a>
                        <p>  </p>
                        <p>  </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}