{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block main %}
        <form action="/turnos" method="post">
            <script>    
                window.setTimeout(function(){
                  window.location.href = "/order";
           
                  }, 15000);
           
            </script>
            <div class="row align-items-start">
            </div>
            <div class="row align-items-center">
                <div class="container">
                    <div class="col">
                        <div class="card border-dark mb-3">
                            <div class="card-header">
                                <p> </p>
                                    {% for turn in turno %}
                                        <h3>{{turn.name}} {{turn.lastname}}</h3>
                                        <h3>Your Turn:</h3>
                                        <h1>{{turn.turn}}</h1>
                                        <p>Please Be Aware Of The Screen!</p>
                                        <p>Thanks For Trusting!</p>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}