{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block house %} 
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/home">Back</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>
    {% endblock %}
    {% block main %}
        <form action="/numero" method="post">
            <div class="row align-items-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-primary" type="submit" name="prev" value="-1">Previous</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-primary" type="submit" name="next" value="1">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                {% if cub == 1 %}
                    <h1>{{queu}} In Spot:{{spot}} </h1>
                    <h1>Next:</h1>
                    <h1>{{turno}} </h1>
                {% endif %}
                {% if cub == 2 %}
                    <h1>{{queu}} In Spot:{{spot}} </h1>
                    <h1>Next:</h1>
                    <h1>{{turno}} </h1>
                {% endif %}
            </div>
        </form>
    {% endblock %}

