{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block main %}
        <form action="/order" method="post">
            <div class="row align-items-start">
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <input autocomplete="off" autofocus class="form-control m-auto" name="name" placeholder="Name" type="text">
                            <p> </p>
                            <p> </p>
                            <input autocomplete="off" autofocus class="form-control m-auto" name="lastname" placeholder="Lastname" type="text">
                            <p> </p>
                            <p> </p>
                            <input autocomplete="off" autofocus class="form-control m-auto" name="email" placeholder="Email" type="text">
                            <p> </p>
                            <p> </p>
                            <input class="form-control m-auto" name="phone" placeholder="Phone" type="numeric">
                            <p> </p>
                            <p> </p>
                            <div class="row">
                                <div class="col">
                                    <input autocomplete="off" class="form-control m-auto" autofocus name="month" placeholder="DOB MM" type="number" min="1" max="12">
                                </div>
                                <div class="col">
                                    <input autocomplete="off" class="form-control m-auto" autofocus name="day" placeholder="DOB DD" type="number" min="1" max="31">
                                </div>
                                <div class="col">
                                    <input autocomplete="off" class="form-control m-auto" autofocus name="year" placeholder="DOB YYYY" type="number" min="1950" max="2024">
                                </div>
                            </div>
                            <p>  </p>
                            <p>  </p>
                            <div class="col">
                                <select class="form-select form-select-auto" aria-label=".form-select-auto example" name="gender">
                                    <option selected disabled>Gender</option>
                                    {% for gend in gender %}
                                        <option value="{{ gend }}" >{{gend}}</option>
                                    {% endfor %}</li>
                                </select>
                            </div>
                            <p>  </p>
                            <p>  </p>
                            <input type="checkbox" value="" aria-label="" required> <small>Accepting Terms & Conditions</small>
                            <p>  </p>
                            <p>  </p>
                            <hr class="divider">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="static/turno.png">
                    <p>  </p>
                    <h1>Please Complete The Form!</h1>
                    <p>It's Quick And Easy!</p>
                    <p>  </p>
                    <p>  </p>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                    
                </div>
            </div>
        </form>
    {% endblock %}