{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block main %}
        <form action="/register" method="post">
            <div class="row align-items-start">
                <p>  </p>
                <p>  </p>
                <p>  </p>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <input autocomplete="off" autofocus class="form-control m-auto" name="email" placeholder="Email" type="text">
                            <p> </p>
                            <p> </p>
                            <input class="form-control m-auto" name="password" placeholder="Password" type="password">
                            <p> </p>
                            <p> </p>
                            <input class="form-control m-auto" name="confirm_password" placeholder="Confirm Password" type="password">
                            <p> </p>
                            <p> </p>
                            <div class="row">
                                <div class="col">
                                    <select class="form-select form-select-auto" aria-label=".form-select-auto example">
                                        <option selected disabled>Business</option>
                                        {% for option in options %}
                                            <option value="{{ option }}">{{option}}</option>
                                        {% endfor %}</li>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-auto" aria-label=".form-select-auto example">
                                        <option selected disabled>Size</option>
                                        {% for siz in size %}
                                            <option value="{{ siz }}">{{siz}}</option>
                                        {% endfor %}</li>
                                    </select>
                                </div>
                            </div>
                            <p>  </p>
                            <p>  </p>
                            <input class="form-control m-auto" name="phone" placeholder="Phone +" type="numeric">
                            <p>  </p>
                            <p>  </p>
                            <select class="form-select form-select-auto" aria-label=".form-select-auto example">
                                <option selected disabled>Security Question</option>
                                {% for quest in question %}
                                    <option value="{{ quest }}">{{quest}}</option>
                                {% endfor %}</li>
                            </select>
                            <p>  </p>
                            <p>  </p>
                            <input class="form-control m-auto" name="answer" placeholder="Answer" type="text">
                            <p>  </p>
                            <p>  </p>
                            <hr class="divider">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Sign Up</button>
                            </div>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="static/turno.png">
                    <p>  </p>
                    <h1>Sign Up With Us!</h1>
                    <p>It's Quick And Easy!
                        Are You Ready For The Next Level?
                    </p>
                    
                </div>
            </div>
        </form>
    {% endblock %}