{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block house %} 
    {% endblock %}
    {% block main %}
        <form action="/control" method="post">
            <script>
                function autoRefresh() {
                    window.location = window.location.href;
                }
                setInterval('autoRefresh()', 3000);
            </script>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 1</h3>
                            <marquee>{{queu1}} </marquee>
                            <hr class="divider">
                            <h3>{{spot1}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 2</h3>
                            <marquee>{{queu2}} </marquee>
                            <hr class="divider">
                            <h3>{{spot2}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 3</h3>
                            <marquee>{{queu3}} </marquee>
                            <hr class="divider">
                            <h3>{{spot3}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 4</h3>
                            <marquee>{{queu4}} </marquee>
                            <hr class="divider">
                            <h3>{{spot4}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 5</h3>
                            <marquee>{{queu5}} </marquee>
                            <hr class="divider">
                            <h3>{{spot5}} </h3>
                        </div>
                    </div>
                </div>
            </div>
            <p>  </p>
            <p>  </p>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 6</h3>
                            <marquee>{{queu6}} </marquee>
                            <hr class="divider">
                            <h3>{{spot6}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 7</h3>
                            <marquee>{{queu7}} </marquee>
                            <hr class="divider">
                            <h3>{{spot7}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 8</h3>
                            <marquee>{{queu8}} </marquee>
                            <hr class="divider">
                            <h3>{{spot8}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 9</h3>
                            <marquee>{{queu9}} </marquee>
                            <hr class="divider">
                            <h3>{{spot9}} </h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <h3>Spot 10</h3>
                            <marquee>{{queu10}} </marquee>
                            <hr class="divider">
                            <h3>{{spot10}} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}