{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="section">
    <table class="table table-striped">
        
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-end">Last Name</th>
                <th class="text-end">Email</th>
                <th class="text-end">Phone</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% for row in rows %}
                <tr>
                    <td class="text-start">{{row.name}}</td>
                    <td class="text-end">{{row.lastname}}</td>
                    <td class="text-end">{{row.email}}</td>
                    <td class="text-end">{{row.phone}}</td>
                    <td class="text-end">{{row.date}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}