{% extends "layout.html" %}

{% block title %}
{% endblock %}
{% block house %} 
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/stats">Back</a></li>
                </ul>

            </div>
        </div>
    </nav>
    {% endblock %}

{% block main %}
<div class="section">
    <table class="table table-striped">
        
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-end">Last Name</th>
                <th class="text-end">Email</th>
                <th class="text-end">Phone</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% for row in rows %}
                <tr>
                    <td class="text-start">{{row.name}}</td>
                    <td class="text-end">{{row.lastname}}</td>
                    <td class="text-end">{{row.email}}</td>
                    <td class="text-end">{{row.phone}}</td>
                    <td class="text-end">{{row.date}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}