{% extends "layout.html" %}
    {% block title %}
        
    {% endblock %}
    {% block main %}
        <form action="/turnos" method="post">
            <div class="row align-items-start">
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Withdrawals</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Advisory</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Inquiries</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Help</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Loans</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card ">
                        <div class="card-header">
                            <p> </p>
                            <div class="card">
                                <h1>Payments</h1>
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}