div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

body {
  background-color: rgba(17, 3, 211, 0.171);
}

.navbar {
  background-color: rgb(255, 255, 255) !important;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

p {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}